/*
Name: Noah Lad 100765390
File: style.css
Date: Feb 28 2026
Description: Assignment 3 for INFT 1204-07
*/

html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}

body {
    padding: 28px;
    width: 500px;
    background-color: #efefef;
    margin: auto;

}

ul {
    background-color: white;
    border: 5px solid purple;
    padding: 30px;
    border-radius: 20px;
}

h1 {
  color: darkslategray;
  border-bottom: 10px dotted purple;
  font-size: 2rem;
}

h2 {
  font-style: italic;
  font-size: 1.5rem;
}

.job-title {
  color: darkslategray;
  font-weight: bold;
}